<h2>First Name: <%= @student["first_name"] %></h2>
<h2>Last Name: <%= @student["last_name"] %></h2>
<h2>Email: <%= @student["email"] %></h2>
<h2>Phone Number: <%= @student["phone_number"] %></h2>
<h2>Bio: <%= @student["bio"] %></h2>
<h2>Linkedin: <%= @student["linked_in_url"] %></h2>
<h2>Personal Blog: <%= @student["personal_blog_url"] %></h2>
<h2>Github: <%= @student["github_url"] %></h2>
<h2>Photo: <%= @student["photo_url"] %></h2>
<h2>Capstone Name: <%= @student["capstone_name"] %></h2>
<h2>Capstone Description: <%= @student["capstone_description"] %></h2>
<h2>Capstone: <%= @student["capstone_url"] %></h2>

<br>

<h1> Experience: </h1>
<br>

<% @student["experiences"].each do |experience|  %>
  <ul>
    <li>
      Start Date: <%= experience["start_date"] %>
    </li>
    <li>
      End Date: <%= experience["end_date"] %>
    </li>
    <li>
      Job Title: <%= experience["job_title"] %>
    </li>
    <li>
      Company Nane: <%= experience["company_name"] %>
    </li>
    <li>
      Details: <%= experience["details"] %>
    </li>
  </ul>
<% end %>

<br>
<h4>Education:</h4>
 <ul>
   <% @student["educations"].each do |education| %>
     <li>
       <%= education["start_date"] %>
     </li>
     <li>
       <%= education["end_date"] %>  
     </li>  
     <li>
       <%= education["degree"] %>  
     </li>
     <li>
       <%= education["university_name"] %>
     </li>
     <li>
       <%= education["details"] %>
     </li>
   <% end %>
 </ul>

<br>
<h4>Skills:</h4>
   <% @student["skills"].each do |skill| %>
     <li>
       <%= skill["skill_name"] %>
     </li>
   <% end %>

