<h2>Add new education</h2>
<%= form_tag "/client/educations", method: :post do %>
      Start Date: <input type="text" name="start_date" value="<%= education["start_date"] %>">
    </div>
    <div>
      End Date: <input type="text" name="end_date" value="<%= education[“end_date”] %>">
    </div>
     <div>
      Degree: <input type="text" name="degree" value="<%= education["degree"] %>">
    </div>
     <div>
      University Name: <input type="text" name="university_name" value="<%= education["university_name"] %>">
    </div>
     <div>
      Details: <input type="text" name="details" value="<%= education["details"] %>">
    </div>
    <input type="submit" value="Create Education">
<% end %>